.row-container {
  padding-top: 60px;
  padding-bottom: 130px;
}

.headshot {
  border-radius: 50%;
  width: 180px;
}

.about-container {
  height: 60%;
}

.about-me h1 {
  font-family: "Ultra", serif;
}

.about-me p {
  font-family: "PT Serif", serif;
}
