.row-container {
  /* padding-top: 60px;
  padding-bottom: 130px; */
  width: 90%;
  margin: 0 auto;
}

.headshot {
  border-radius: 50%;
  width: 180px;
}

/* .about-container {
  text-align: center;
  height: 100vh;
  background-image: url("../assets/images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
} */

.about-me h1 {
  font-family: "Ultra", serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-me p {
  font-family: "PT Serif", serif;
  max-width: 36rem;
  margin: 0 auto;
}
