.header-container {
  min-height: 20%;
}

.header-container nav {
  padding-top: 30px;
}

.nav-name {
  font-family: "Ultra", serif;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.nav-links a {
  font-family: "PT Serif", serif;
}

.nav-link:hover {
  cursor: pointer;
}
