.skills ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

.skills li {
  border-bottom: none;
}

.resume-container {
  background-image: url("../assets/images/pink-bkgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.resume-container h1 {
  background-color: #303f54;
  color: white;
  padding: 2rem;
}

.resume-container li {
  background: transparent;
  justify-self: center;
}

.resume-container svg {
  height: 5rem;
}
