.skills ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills li {
  border-bottom: none;
}

.resume-container {
  background-image: url("../assets/images/pink-bkgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
