:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

aside {
  display: none;
}

ol {
  list-style: none;
  padding: 0;
}

h3,
h4 {
  text-align: center;
  color: hsl(19, 20%, 40%);
  text-decoration: none !important;
}

h3,
h4:active {
  color: hsl(19, 20%, 40%);
}

input {
  border: 1px solid grey;
}

.navbar-dropdown {
  border: none;
  background-color: transparent;
}

.main-container {
  width: 100%;
}

.profile-img-container {
  background-image: url('./images/pawel-czerwinski-XLUuAayDyHs-unsplash.png');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 0rem;
}

.about-me-section {
  height: 100%;
}

.about-me-section h3 {
  margin-bottom: 0;
}

.about-me-section p {
  background-image: url('./images/sunset-bkgrnd.png');
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding: 4rem;
  text-align: justify;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details ol {
  display: flex;
  justify-content: space-evenly;
}

.profile-image {
  width: 13rem;
  height: 12rem;
  border-radius: 50%;
}

.profileImg-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.navbar ol {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0;
}

.nav-dropdown.is-shown {
  display: none;
}

.navbar-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.projects li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.projects img {
  width: 90%;
  border: 3px solid black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.project-details h1 {
  text-align: center;
}

.project-details p {
  color: hsl(19, 20%, 40%);
  padding: 1rem;
}

.project-details img {
  width: 100%;
}

.project-details nav {
  margin-top: 1rem;
}

.project-details nav a {
  margin-left: 1rem;
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.contact-list-container li {
  margin-bottom: 1rem;
}

.contact-form {
  background-image: url('./images/Blk_White_Bkgrnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.send-btn {
  background-color: #fff;
}

footer {
  text-align: center;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ol {
  display: flex;
  justify-content: space-around;
}

footer li,
a {
  color: hsl(19, 20%, 40%);
}

footer li,
a:active {
  color: hsl(19, 20%, 40%);
}

footer li,
a:hover {
  cursor: pointer;
}

/* FOR CARD FLIP FEATURE - Click project image and it turns to show the project details
.scene {
  perspective: 600px;
  /* border: 1px solid #ccc; *
  width: 100%;
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 22rem;
  height: 30rem;
  transition: transform 1s linear;
  transform-style: preserve-3d;
  transform-origin: center right;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.card__face {
  position: absolute;
  overflow: scroll;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card img {
  width: 22rem;
  height: 30rem;
  border-radius: 5px;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
} */

@media only screen and (min-width: 568px) and (max-width: 768px) {
  aside img {
    width: 13rem;
    height: 12rem;
    border-radius: 50%;
  }
}
